.user-png{
    width: 35px;
    height: 35px;
}
.navbar-brand{
    color: aqua;
    font-size: 30px;
    font-weight: bold;
}


.btn-nav{
    background-color: aqua;
    border-radius: 10px;
    color: white !important;
    font-weight: bold;

}